@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css';

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  background: #f0f8ff;
}

.layout {
  height: 100%;
}

.sidebar {
  position: fixed;
  width: 20%;
  top: 0;
  bottom: 0;
}

.sidebar-content {
  margin: 3em 1em 1em 1em;
  text-align: center;
}

.book-select {
  margin: 2em;
}

.content {
  padding: 2em 3em 0;
  margin-left: 25%;
  padding-left: 5%;
  background: #eaf8fe;
  border-left: #8bbbc4 solid 0.1em;
  height: 100%;
  width: 80%;
}

.mainframe {
  width: 80%;
  height: 50%;
  background: #daf9fc;
  background-image: url('./assets/sideline_bg_800x500.png');
  background-size: 100% auto;
  text-align: center;
  padding: 1.5em 3em 1.5em 3em;
}

#pokemon-header {
  letter-spacing: 0.2em;
  height: 20%;
}

#pokemon-body {
  display: flex;
  justify-content: center;
  height: 80%;
  margin-bottom: 1em;
}

.box-image {
  margin: 0 0 1em 0m;
  height: 100%;
  border: solid;
  border-color: #8bbbc4;
  object-fit: contain;
}

.vertical-btn-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto 0 0 1em;
  width: 15%;
}

.vertical-btn {
  width: 100%;
  margin: 0.5em;
}

.horizontal-btn-group {
  margin: 2em 0;
  width: 30%;
}

.horizontal-btn {
  margin: 0 1em 0 0;
  width: 40%;
}
